/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --branco: #FFFFFF;

    --font1: 'Lato', sans-serif;
    --font2: 'Montserrat', sans-serif;

}

body{
    background-image: url(../../img/Backgronud.png);
}

h2{
    color: black;
    display: flex;
    justify-content: center;

    padding-top: 5px;
}

/* definindo o tamanho da table */


.emglobador{
   
    margin-left: 500px;
    font-family: var(--font1);
    background-color: var(--branco);
    border-radius: 30px;
}
.emglobador span{

    display: flex;
    justify-content: left;
    color: black;
    margin-left: 50px;
    padding-top: 50px;
    text-transform: uppercase;

    
}
/* configurando o traço */
hr {
	border: 0;
	border-top: 0.5px solid gray;
    margin: 5px 5px 5px 5px;
}

.tabelaPerfil{
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 10px;

}

/* definindo o espaçamento das informações  */
.tabelaPerfil th, .tabelaPerfil td{
    padding: 0.8rem;
    
}

/* orientando as informações em paralelo */
.esquerda th{
    display: flex;
    flex-basis: 100%;
    margin-right: 50px;
    padding-left: 50px ;
}

.direita tr{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 50px;
    
}
.direita th {
    list-style-type: none;
}

/* Responsividade da tabela */

@media screen and (max-width: 800px) {


}
   